a {
    text-decoration: none;
    color: inherit;
}

.w-fit-content {
    width: fit-content;
}

.h-80 {
    height: 80%;
}



.ff-golos {
    font-family: var(--font-first);
}

.text-corp {
    color: var(--color-corp);
}

.text-dust {
    color: var(--color-dust);
}

.text-gray-light {
    color: var(--color-gray-light);
}

.bg-main {
    background: var(--color-bg);
}

.bg-corp {
    background: var(--color-corp);
}

.two-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}